# =========================
# Entorno virtual
# =========================
.venv/
venv/
env/

# =========================
# Variables de entorno
# =========================
.env
.env.*
!.env.example

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Distribución / builds
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Linters / type checkers
# =========================
.mypy_cache/
.ruff_cache/
.pyre/

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log